$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$buttonWidth: 20px;
$buttonHeight: 20px;
$widgetWidth: 400px;
$widgetHeight: 40px;

.zcc-widget-container {
  all: initial;

  @keyframes color-sending {
    0% {
      background-color: red;
    }
    50% {
      background-color: #980000;
    }
    100% {
      background-color: red;
    }
  }

  @keyframes color-receiving {
    0% {
      background-color: green;
    }
    50% {
      background-color: #004800;
    }
    100% {
      background-color: green;
    }
  }

  display: table;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  margin: 4px !important;
  padding: 4px !important;
  width: 400px !important;
  height: 40px !important;

  .zcc-row {
    all: initial;
    display: table-row;
    .zcc-cell {
      all: initial;
      display: table-cell;
      h4 {
        all: initial;
        font-family: $font;
        font-size: 20px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .zcc-button-container {
        all: initial;
        .zcc-button {
          all: initial;
          cursor: pointer;
          display: inline-block;
          min-width: $buttonWidth;
          min-height: $buttonHeight;
          width: $buttonWidth;
          height: $buttonHeight;
          border-radius: 30px;
          background-color: #cccccc;
          border: 2px solid #949494;
          box-sizing: border-box;
          &.zcc-receiving {
            background-color: green;
            animation-name: color-receiving;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
          &.zcc-recording {
            background-color: red;
            animation-name: color-sending;
            animation-duration: 2s;
            animation-iteration-count: infinite;
          }
        }
      }

      .zcc-state {
        all: initial;
        font-family: $font;
        font-size: 14px;
        font-weight: 600;
      }

    }
  }
}