@mixin reset {
  all: initial;
}

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$widgetWidth: 300px; // 250
$widgetHeight: 90px; // 75

$lineHeight: $widgetHeight / 2;

$channelNameColor: #020202;

$liveBadgeBgColor: #000000;
$liveBadgeColor: #ffffff;
$errorColor: darkred;

@mixin innerOffset {
  padding: 0 10px 0 10px;
}

.zcc-widget-container {
  * {
    box-sizing: border-box;
  }

  .zcc-hidden {
    display: none !important;
  }

  display: inline-block;
  width: $widgetWidth;
  height: $widgetHeight;
  font-family: $font;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.125), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.125);
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;

  .zcc-line {
    position: relative;
    height: $lineHeight;
    max-height: $lineHeight;
    min-height: $lineHeight;
  }

  .zcc-cell {
    width: 100%;
    vertical-align: middle;
  }

  .zcc-border-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  .zcc-channel-name {
    @include innerOffset;
    display: inline-block;
    color: $channelNameColor;
    max-width: $widgetWidth;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

  .zcc-status {
    @include innerOffset;
    display: block;
    font-size: 12px;
  }

  .zcc-live-icon {
    display: inline-block;
    color: $liveBadgeColor;
    background-color: $liveBadgeBgColor;
    border-radius: 2px;
    padding: 1px 2px;
    font-size: 10px;
    font-weight: bold;
    font-style: initial;
    text-transform: uppercase;
    margin-right: 4px;
  }

  .zcc-info {
    @include innerOffset;
    line-height: $lineHeight;
    font-size: 15px;
  }

  .zcc-buttons-container {
    width: 65px;
    height: $lineHeight;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;

    .zcc-button {
      width: 25px;
      height: $lineHeight;
      display: inline-block;
      padding-top: 10px;
      margin-right: 5px;
      cursor: pointer;

      svg {
        width: 25px;
        height: $lineHeight;
      }

    }

  }

  .zcc-loader-container {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;

    width: $lineHeight / 2;
    height: $lineHeight / 2;

    $offset: 90;
    $duration: 1.4s;

    .zcc-spinner {
      animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(270deg); }
    }

    .zcc-path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      stroke: #000;
      animation: dash $duration ease-in-out infinite;
    }

    @keyframes dash {
      0% { stroke-dashoffset: $offset; }
      50% {
        stroke-dashoffset: $offset/3;
        transform:rotate(135deg);
      }
      100% {
        stroke-dashoffset: $offset;
        transform:rotate(450deg);
      }
    }


  }

  .zcc-error {
    color: $errorColor;
  }

  &.talking {
    .zcc-info {
      line-height: 20px;
    }
  }

  &.connecting, &.reconnecting {
    .zcc-loader-container {
      display: inline-block;
    }

    .zcc-channel-name {
      max-width: $widgetWidth - 20;
    }

  }

  &.receiving {
    .zcc-info {
      height: $lineHeight;
      max-height: $lineHeight;
      background-color: #808080;
      color: #fefefe;
      border-radius: 0 0 5px 5px;
      .zcc-receiving-username {
        line-height: 25px;
      }
      .zcc-receiving-duration {
        line-height: 10px;
        font-size: 11px;
        margin-top: 2px;
      }
    }

    .zcc-button svg path.content {
      fill: #fefefe;
    }

  }

}