<div class="zcc-loader-container">
    <svg class="zcc-spinner" width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <circle class="zcc-path" fill="none" stroke-width="2" stroke-linecap="round" cx="16" cy="16" r="12"></circle>
    </svg>
</div>