<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-name</key>
	<string>Zello Channels SDK</string>
	<key>--project-company</key>
	<string>Zello</string>
	<key>--company-id</key>
	<string>com.zello</string>
	<key>--output</key>
	<string>.</string>
	<key>--create-docset</key>
	<false/>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--explicit-crossref</key>
	<true/>
	<key>--input</key>
	<array>
		<string>ZelloChannelKit/ZCCErrors.h</string>
		<string>ZelloChannelKit/streams/ZCCIncomingVoiceConfiguration.h</string>
		<string>ZelloChannelKit/streams/ZCCIncomingVoiceStream.h</string>
		<string>ZelloChannelKit/streams/ZCCOutgoingVoiceConfiguration.h</string>
		<string>ZelloChannelKit/streams/ZCCOutgoingVoiceStream.h</string>
		<string>ZelloChannelKit/ZCCSession.h</string>
		<string>ZelloChannelKit/streams/ZCCStreamState.h</string>
		<string>ZelloChannelKit/streams/ZCCVoiceStream.h</string>
	</array>
</dict>
</plist>
