<div class="zcc-channel-status zcc-channel-status-{{this.status}}">
    <div class="zcc-online-users-info-container">
        <span class="zcc-online-users-label">online users:</span>
        <span class="zcc-online-users-number">{{this.users_online}}</span>
    </div>
</div>
