<div class="zcc-widget-container">
    {{#if recorder}}
    <div class="zcc-button-container">
        <button class="zcc-button"></button>
    </div>
    {{/if}}
    <div class="zcc-status-container"></div>
    <div class="zcc-message-container">
        <div class="zcc-message-info-container"></div>
        <div class="zcc-message-duration-container"></div>
    </div>
</div>